@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');
/* Hanken Grotesk Font */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --LightRed: hsl(0, 100%, 67%);
    --OrangeyYellow: hsl(39, 100%, 56%);
    --GreenTeal: hsl(166, 100%, 37%);
    --CobaltBlue: hsl(234, 85%, 45%);

    /* Gradients */
        /* Background */
    --LightSlateBlue: hsl(252, 100%, 67%);
    --LightRoyalBlue: hsl(241, 81%, 54%);
        /* Circle */
    --VioletBlue: hsla(256, 72%, 46%, 1);
    --PersianBlue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --PaleBlue: hsl(221, 100%, 96%);
    --LightLavender: hsl(241, 100%, 89%);
    --DarkGrayBlue: hsl(224, 30%, 27%);

    --pSize: 18px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--White);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-main {
    max-width: 640px;
    display: flex;
    background-color: var(--White);
    border-radius: 30px;
    box-shadow: 10px 10px 30px var(--PaleBlue);
    font-family: "Hanken Grotesk";
    font-weight: 500;
    font-size: 16px;
}
/* Left side */
.card-result {
    background-image: linear-gradient(var(--LightSlateBlue), var(--LightRoyalBlue));
    border-radius: 30px;
    padding: 2rem 0;
}
    /* Circle */
.result-score {
    width: 170px;
    height: 170px;
    background-image: linear-gradient(var(--VioletBlue), var(--PersianBlue));
    border-radius: 50%;
    padding: 35px;
}
    .result-score span:first-child { 
        font-size: 60px;
        font-weight: 800;
        line-height: 1.1;
    }
    .result-score span:last-child {
        font-size: 16px;
        color: var(--LightLavender);
        opacity: .7;
    }
    /* VV head and bottom VV */
    .result-head, .result-detail {
        color: var(--LightLavender);
    }

/* Right side */


/* footer */
.attribution { 
    font-size: 11px; 
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
}
    .attribution a { color: hsl(228, 45%, 44%); }